@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Voetbaltickets België bestellen</h1>
    <p class="lead">
        
        Ruim aanbod losse voetbaltickets en abonnementen voor wedstrijden van de Belgische ploegen! Geniet van de fantastische sfeer in (en buiten) de Belgische stadions, maar natuurlijk ook het hoge niveau waarop de vele Belgische topclubs spelen.
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Onze ploegen</h2>
        <p>
            Alle ploegen komen hier.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Ploegen","Home")">De ploegen</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            onze Stadions
        </h2>
        <p>Alle stadions komen hier.</p>
        <p><a class="btn btn-default" href="@Url.Action("Stadions","Home")">De stadions</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tickets & Abonnementen</h2>
        <p>Hier komt ons aanbod tickets en abonnementen</p>
        <p><a class="btn btn-default" href="@Url.Action("Shop","Home")">Tickets & Abo's</a></p>
    </div>
</div>