
@{
    ViewBag.Title = "Stadions";
}


<h3>Jan Breydelstadion
</h3>
<img src="~/Content/Images/stadion1.jpg" />
<p>Het Jan Breydelstadion, tot 1998 het Olympiastadion, is een voetbalstadion in de stad Brugge, gelegen in de deelgemeente Sint-Andries. Het stadion is eigendom van de stad Brugge en is de thuishaven van stadsrivalen Club Brugge en Cercle Brugge, die het stadion exploiteren.
</p>
<h5>Tribunecapaciteiten</h5>
<ul>
    <li>onderste ring achter het doel thuisploeg : 3750 plaatsen</li>
    <li>onderste ring achter het doel bezoekers : 3750 plaatsen</li>
    <li>onderste ring zijlijn Oost : 3750 plaatsen</li>
    <li>onderste ring zijlijn West : 3750 plaatsen</li>
    <li>bovenste ring achter het doel thuisploeg : 3750 plaatsen</li>
    <li>bovenste ring achter het doel bezoekers : 3750 plaatsen</li>
    <li>bovenste ring zijlijn Oost : 3750 plaatsen</li>
    <li>bovenste ring zijlijn West : 3750 plaatsen</li>
</ul>
<br />
<h3>Ghelamco Arena
</h3>
<img src="~/Content/Images/stadion2.jpg" />
<p>
    De Ghelamco Arena of het Arteveldestadion is het huidig stadion van de Belgische voetbalclub KAA Gent, de grootste club uit de stad Gent. Het stadion werd op 17 juli 2013 geopend met een wedstrijd tegen het Duitse VfB Stuttgart. Vlak bij het stadion komt een parkeerterrein met plaats voor 1.500 wagens. De andere parkeerplaatsen zijn aan Flanders Expo (3.000), aan de Blaarmeersen (750) en in Gentbrugge (250).</p>
<h5>Tribunecapaciteiten</h5>
<ul>
    <li>onderste ring achter het doel thuisploeg : 2500 plaatsen
    <li>
    <li>onderste ring achter het doel bezoekers : 2500 plaatsen
    <li>
    <li>onderste ring zijlijn Oost : 2500 plaatsen
    <li>
    <li>onderste ring zijlijn West : 2500 plaatsen
    <li>
    <li>bovenste ring achter het doel thuisploeg : 2500 plaatsen
    <li>
    <li>bovenste ring achter het doel bezoekers : 2500 plaatsen
    <li>
    <li>bovenste ring zijlijn Oost : 2500 plaatsen
    <li>
    <li>bovenste ring zijlijn West : 2500 plaatsen
    <li>
</ul>
<br />
<h3>
   Guldensporen stadion
</h3>
<img src="~/Content/Images/stadion3.jpg" />
<p>
    Het Guldensporenstadion is een voetbalstadion gelegen in Kortrijk. KV Kortrijk speelt in dat stadion zijn thuiswedstrijden. Het Guldensporenstadion is genoemd naar de Guldensporenslag, die plaatsvond op 11 juli 1302. Het Guldensporenstadion is gelegen tussen de Meensesteenweg (ingang bezoekers) en de Moorseelsestraat (ingang thuisploeg) in Kortrijk. Aan de achterkant van het stadion is er een oefenveld, waar KV Kortrijk zijn trainingen afwerkt met ernaast het themacafé De Kouter.</p>
<h5>Tribunecapaciteiten</h5>
<ul>
    <li>onderste ring achter het doel thuisploeg : 1250 plaatsen
    <li>
    <li>onderste ring achter het doel bezoekers : 1250 plaatsen
    <li>
    <li>onderste ring zijlijn Oost : 1250 plaatsen
    <li>
    <li>onderste ring zijlijn West : 1250 plaatsen
    <li>
    <li>bovenste ring achter het doel thuisploeg : 1250 plaatsen
    <li>
    <li>bovenste ring achter het doel bezoekers : 1250 plaatsen
    <li>
    <li>bovenste ring zijlijn Oost : 1250 plaatsen
    <li>
    <li>bovenste ring zijlijn West : 1250 plaatsen
    <li>
</ul>
<br />
<h3>
    Constant Vanden Stock stadion
</h3>
<img src="~/Content/Images/stadion4.jpg" />
<p>
    Het Constant Vanden Stockstadion is een voetbalstadion in de Belgische gemeente Anderlecht, in het Brussels Hoofdstedelijk Gewest. Het is de thuisbasis van voetbalclub RSC Anderlecht. Het stadion bevindt zich in het Astridpark, verwijzend naar de Zweedse prinses en Koningin van België Astrid van Zweden, die in 1935 overleed. Het eigenlijke park stamt uit 1911, en heette oorspronkelijk Meirpark. Het stadion draagt de naam van wijlen Constant Vanden Stock, die 25 jaar lang voorzitter was van de club. </p>
<h5>Tribunecapaciteiten</h5>
<ul>
    <li>onderste ring achter het doel thuisploeg : 2600 plaatsen
    <li>
    <li>onderste ring achter het doel bezoekers : 2600 plaatsen
    <li>
    <li>onderste ring zijlijn Oost : 2600 plaatsen
    <li>
    <li>onderste ring zijlijn West : 2600 plaatsen
    <li>
    <li>bovenste ring achter het doel thuisploeg : 2600 plaatsen
    <li>
    <li>bovenste ring achter het doel bezoekers : 2600 plaatsen
    <li>
    <li>bovenste ring zijlijn Oost : 2600 plaatsen
    <li>
    <li>bovenste ring zijlijn West : 2600 plaatsen
    <li>
</ul>
<br />
<h3>
   Regenboogstadion
</h3>
<img src="~/Content/Images/stadion5.jpg" />
<p>
    Het Regenboogstadion is een voetbalstadion in Waregem. Het stadion is eigendom van Stad Waregem, maar de voetbalploeg SV Zulte Waregem gebruikt het stadion in erfpacht. De capaciteit bedraagt, na de huidige fase van de verbouwingswerken, ongeveer 12.300 plaatsen. Het terrein wordt ook wel "aan de Gaverbeek" genoemd, omwille van de ligging vlak bij de Gaverbeek. Stadsgenoot Racing Waregem speelt soms bij een risicomatch in het Regenboogstadion.</p>
<h5>Tribunecapaciteiten</h5>
<ul>
    <li>onderste ring achter het doel thuisploeg : 1500 plaatsen
    <li>
    <li>onderste ring achter het doel bezoekers : 1500 plaatsen
    <li>
    <li>onderste ring zijlijn Oost : 1500 plaatsen
    <li>
    <li>onderste ring zijlijn West : 1500 plaatsen
    <li>
    <li>bovenste ring achter het doel thuisploeg : 1500 plaatsen
    <li>
    <li>bovenste ring achter het doel bezoekers : 1500 plaatsen
    <li>
    <li>bovenste ring zijlijn Oost : 1500 plaatsen
    <li>
    <li>bovenste ring zijlijn West : 1500 plaatsen
    <li>
</ul>
<br />
<h3>
    Maurice Dufrasnestadion
</h3>
<img src="~/Content/Images/stadion6.jpg" />
<p>
    Het Maurice Dufrasnestadion (Frans:Stade Maurice Dufrasne) is een voetbalstadion in de Belgische stad Luik en het thuisstadion van Belgische topclub Standard Luik. Het is genoemd naar Maurice Dufrasne, de vijfde voorzitter van de club, van 1909 tot 1931. De officieuze naam Sclessin wordt vaker gebruikt. Deze is ontleend aan de wijk waarin het stadion ligt.</p>
<h5>Tribunecapaciteiten</h5>
<ul>
    <li>onderste ring achter het doel thuisploeg : 3450 plaatsen
    <li>
    <li>onderste ring achter het doel bezoekers : 3450 plaatsen
    <li>
    <li>onderste ring zijlijn Oost : 3450 plaatsen
    <li>
    <li>onderste ring zijlijn West : 3450 plaatsen
    <li>
    <li>bovenste ring achter het doel thuisploeg : 3450 plaatsen
    <li>
    <li>bovenste ring achter het doel bezoekers : 3450 plaatsen
    <li>
    <li>bovenste ring zijlijn Oost : 3450 plaatsen
    <li>
    <li>bovenste ring zijlijn West : 3450 plaatsen
    <li>
</ul>